@import "variables.import.less";
@import "spacings.import.less";
@import "grid.less";

.header, h1, h2 {
    font-family: @cursive;
}

body {
    margin:0;
    justify-content: center;
    align-items: center;
    background-color: @wood;
}

a, p {
    font-family: @handwriting;
    font-size: 1.5rem;
}

.navbar {
    background-image: url('/images/coffee.jpg');
    background-size: cover;
    justify-content: space-between;
    height:10rem;
    align-content:center;

    @media @screen-xs {
        background-size:cover;
    }

    .navbar-header {
        font-size: 3rem;
        background-color: white;
        border-radius: 1rem;
        justify-content: center;
        margin:auto;

        @media @screen-xs {
            font-size: 2rem;
        }
    }

    .navbar-buttons {
        color:white;
    }
}

#menu {
    position:absolute;
    background-image: url('/images/coffee-beans3.jpg');
    background-size: cover;
    top:10rem;
    right:0;
    color: @paper;
    width:20rem;
    height:auto;
    transition: transform 0.3s ease-in-out;

    @media @screen-xs {
        width:100%;
    }

    a, p {
        color:@paper;
        text-decoration: none;
        font-size: 2rem;
    }
    
    li {
        width: 100%;
        padding: 8px;
    }

    li:hover {
        background-color: @black-coffee;
        cursor: pointer;
    }
}

button {
    display: inline-block;
    border: 1px solid black;
    padding: 0.5rem 1rem;
    margin: 1rem;
    text-decoration: none;
    color: @black;
    background: none;
    font-size: 1.5rem;
    font-family: @handwriting;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;

    &.cancel-button {
        float:right;
    }

    &.icon-only {
        display: inline-block;
        border: none;
        background: none;
    }

    &.round-icon {
        background-color: @paper;
        border-radius: 2rem;
        box-shadow: 1px 2px 4px #888888;
        border:none;
        font-size: 0;
        position:absolute;
        top:7.5rem;
        right:0rem;
        z-index: 10;
    }
}

button:hover,
button:focus {
    transform: scale(1.1);
    transform-origin: center;
    img {
        transform: scale(1.1);
        transform-origin: center;
    }
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

img {
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
}

label, span {
    font-family: @handwriting;
    font-size: 1.5rem;
}

li {
    list-style-type: none;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.authentication-panel {
    .panel;

    @media @screen-sm {
        width: 25rem;
        margin:auto;
        margin-top: 1rem;
    }
}

.authentication-form {
    button {
        border:2px solid grey;
        border-radius:1rem;
        background-color: white;
        box-shadow: 1px 2px 4px grey;
    }
}

.panel {
    background-color: @paper;
    box-shadow: 1px 2px 4px #888888;
    border-radius: 5px;
}

// weekly spread
.week-container {
    .flex-container;
    justify-content: space-evenly;

    .weekday-block {
        .panel;
        width: 25rem;
    
        h2 {
            text-align: right;
            border-bottom: 1px solid black;
        }
    
        h3 {
            font-size: 1.5rem;
            display: block;
            white-space: nowrap;
        }
    }

    #week-label {
        font-size: 6rem;
        white-space: pre-line;
        text-align: center;
    }

    .task-event-form {
        border: 1px solid black;
        width:13rem;
    }

    .week-items-container {
        .flex-container;
        align-items: baseline;
        flex-wrap: unset;
    
        input, label {
            display: block;
        }
    }
}

